<%layout('../layout')%>
<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">ASSET API</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-10">
            <div class="panel panel-default">
                <div class="panel-heading">
                    ASSET API
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#home" data-toggle="tab">SCHAIN-API001</a>
                        </li>
                        <li><a href="#profile" data-toggle="tab">SCHAIN-API002</a>
                        </li>
                        <li><a href="#messages" data-toggle="tab">SCHAIN-API003</a>
                        </li>
                    </ul>

                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div class="tab-pane fade in active" id="home">
                            <form role="form">
                                <div class="form-group">
                                    <label>Object Type </label>
                                    <input class="form-control">
                                </div>
                                <div class="form-group">
                                    <label>Id</label>
                                    <input class="form-control">
                                </div>
                                <div class="form-group">
                                    <label>Time</label>
                                    <input class="form-control">
                                </div>
                                <div class="form-group">
                                    <label>Ref </label>
                                    <input class="form-control">
                                </div>
                                <div class="form-group">
                                    <label>CTE</label>
                                    <input class="form-control">
                                </div>
                                <div class="form-group">
                                    <label>Asset</label>
                                    <input class="form-control">
                                </div>
                                <div class="form-group">
                                    <label>SupplyChain Id </label>
                                    <input class="form-control">
                                </div>
                                <div class="form-group">
                                    <label>Location</label>
                                    <input class="form-control">
                                </div>
                                <div class="form-group">
                                    <label>Product</label>
                                    <input class="form-control">
                                </div>
                                <div class="form-group">
                                    <div class="form-label-group">
                                        <label>Content </label>
                                        <textarea rows="10" id="inputEmail" class="form-control" placeholder="Log JSON data" required="required" autofocus="autofocus">
                                        </textarea>                
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </form>
                        </div>
                        <div class="tab-pane fade" id="profile">
                            <div class="table-responsive">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Object Type</th>
                                            <th>Id</th>
                                            <th>Time</th>
                                            <th>Ref</th>
                                            <th>CTE</th>
                                            <th>Asset</th>
                                            <th>SupplyChain Id</th>
                                            <th>Location</th>
                                            <th>Product</th>
                                            <th>Content</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>1</td>
                                            <td>Object Type</td>
                                            <td>Id</td>
                                            <td>Time</td>
                                            <td>Ref</td>
                                            <td>CTE</td>
                                            <td>Asset</td>
                                            <td>SupplyChain Id</td>
                                            <td>Location</td>
                                            <td>Product</td>
                                            <td>Content</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <!-- /.table-responsive -->
                        </div>
                        <div class="tab-pane fade" id="messages">
                            <form role="form">
                                <div class="form-group">
                                    <label>Time</label>
                                    <input class="form-control">
                                </div>
                                <div class="form-group">
                                    <label>Ref </label>
                                    <input class="form-control">
                                </div>
                                <div class="form-group">
                                    <label>CTE</label>
                                    <input class="form-control">
                                </div>
                                <div class="form-group">
                                    <label>Asset</label>
                                    <input class="form-control">
                                </div>
                                <div class="form-group">
                                    <label>SupplyChain Id </label>
                                    <input class="form-control">
                                </div>
                                <div class="form-group">
                                    <label>Location</label>
                                    <input class="form-control">
                                </div>
                                <div class="form-group">
                                    <label>Product</label>
                                    <input class="form-control">
                                </div>
                                <div class="form-group">
                                    <div class="form-label-group">
                                        <label>Content </label>
                                        <textarea rows="10" id="inputEmail" class="form-control" placeholder="Log JSON data" required="required" autofocus="autofocus">
                                        </textarea>                
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
    </div>
    <!-- /.row -->
</div>
<!-- /#page-wrapper -->